<img src="<%= detailsOfBook.img %>">
<div class="book">
    <h2><%= detailsOfBook.title %></h2>
    <h3><%= detailsOfBook.author %></h3>
    <p><%= detailsOfBook.description %></p>
    <p><%= detailsOfBook.isbn %></p>
    <p><%= detailsOfBook.bookshelf%></p>
</div>