<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Books!</title>
    <link rel="stylesheet" href="styles/base.css"> 
    <link rel="stylesheet" href="styles/layout.css"> 
    <link rel="stylesheet" href="styles/modules.css"> 
    <link rel="stylesheet" href="styles/reset.css">
</head>

<body>
    <header>
        <h1>Best Books!</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/searches/new">Search the Google Books API</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h3 class="tit"><span><%= numOfSavedBooks %></span> Saved Books</h3>
        <section id="info">
            <% books.forEach(book =>{ %>
            <div class="bookInfo detail">
                <img src="<%= book.img %>">
                <div class="book book1">
                <h2><%= book.title %></h2>
                <h3><%= book.author %></h3>
            </div>
                <button id="detail"><a href="/books/<%= book.id %>">View Details</a></button>
            </div>
            <% }); %>
        </section>
    </main>
</body>

</html>